.statsboxHeader {
  color: #fff;

}


.navbar {
  padding-top: 12px;
  color: #fff;
  align-content: center;

}

.nav-item {
  padding-left: 12px;
  padding-right: 12px;
  margin: 12px;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: #07c;
  cursor: default;
}

.nav-link {
  color: #ffffff;
}

///


.box {
  background-color: #218D9B;
  height: 100px;
  width: 100px;
}

.transform {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.transform-active {
  background-color: #45CEE0;
  height: 200px;
  width: 200px;
}

