.statsboxBody {
  color: #fff;
}

.gapTop {
  margin-top: 10%;
}

.gapBottom {
  margin-top: 20.2%;
}

.welcomeMessage {

  text-align: center;
  font-size: 72px;

}

.validatingMessage {

  font-size: 48px;
  text-align: center;


}

.btn {
  margin: auto;
  display: block;


}
thead {
  font-weight: bold;
  color: #fff;
  background-color: #4c76b2;

}

;

td {
  padding-top: 12px;
  padding-bottom: 12px;
}

button {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}

;
