thead {
  font-weight: bold;
  color: #fff;
  background-color: #4c76b2;
}

;

td {
  padding-top: 12px;
  padding-bottom: 12px;
}

button {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}

;
